// Place all the styles related to the persons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "font-awesome";

@page {
    size: A4;
    margin: 0;
}

body {
    font-family: "apercu";
    background-color: #ccc;
}

.person {
    width: 104mm;
    height: 147mm;
    float: left;
    margin-bottom: 1mm;
    margin-left: 1mm;
    overflow: hidden;
    background-color: #fff;
    border-bottom: 0.1mm dashed #ddd;
}

.person .portrait {
    width: 100%;
    height: 100mm;
}

.person .plate {
    margin: 0 2mm;
}

.person .name {
    font-size: 10mm;
    color: #000;


}

.person .title {
    font-size: 8mm;
}

.template {
    display: none;
}

@media print {
  html, body {
      width: 210mm;
      height: 297mm;
  }

  .toolbar {
      display: none;
  }
  .print {
    display: none;
  }
  .plate .name {
    text-decoration: none;

  }
  h1 {
    display: none;
  }
}
